body {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: #f6f6f6;
}

header {
  background-color: #47B9F9;
  padding: 20px 10px;
  color: #FFFFFF;
  text-align: center;
}

p {
  margin: 0;
  display: inline;
}

.total-num-content {
  display: flex;
  gap: 3px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.blue-icon {
  color: #47B9F9;
  width: 25px;
}

.total-num {
  font-size: 18px;
}

.no-value {
  color: #909090;
}

.order {
  padding: 12px 0;
}

/* card */
.card {
  border: solid 2px #0BAB20;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.green {
  border-color: #0BAB20;
}

.red {
  border-color: #B50101;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
}

.time {
  font-size: 12px;
  color: #909090;
}

.card-body {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.num {
  font-size: 18px;
  color: #008ACF;
  min-width: 36px;
  text-align: end;
}

.add-icon {
  color: #0BAB20;
  margin-right: 8px;
}

.minus-icon {
  color: #B50101;
  margin-right: 8px;
}

/* Tabs */
.react-tabs {
  position: relative;
}

.react-tabs__tab-list {
  /* border-bottom: 1px solid #ccc; */
  /* margin: 0 0 10px; */
  padding: 12px 12px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tabs__tab {
  display: inline-block;
  border-radius: 4px;
  background: #f7f7f7;
  /* border: 1px solid #ccc; */
  border-bottom: none;
  cursor: pointer;
  padding: 6px 12px;
}

.react-tabs__tab--selected {
  background: white;
  border-color: #0074e4;
  border-bottom: none;
  color: #FFFFFF !important;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background-color: #47B9F9 !important;
}

.react-tabs__tab:focus {
  outline: none;
}

/* Tab Panels */
.react-tabs__tab-panel {
  display: none;
  padding: 18px;
  border: 1px solid #ccc;
  border-top: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

/* Accessibility */
.react-tabs__tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.react-tabs__tab {
  /* font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5; */
  color: #909090;
  background-color: #f7f7f7;
  border-color: #ccc;
  border-bottom: none;
}

.react-tabs__tab--selected {
  color: #000;
  background-color: #fff;
  border-color: #0074e4;
}

/* Animation */
.react-tabs__tab-panel {
  animation: react-tabs__tab-panel--animate 250ms ease-in-out;
}

@keyframes react-tabs__tab-panel--animate {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}